.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
  background-color: rgba(163, 196, 224, 0.2);
  border: 2px solid black;
  border-radius: 4px ;
}

.blockForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0px 25px 0px;

}

.textField {
  width: 500px;
  height: 30px;
}

.error {
  text-align: center;
  margin: 10px 20px 10px 20px;
  color: red
}

button.button {
  font-family: 'Dancing Script', cursive;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 25px;
}
