

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin: 0px 100px 0px 100px 
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.authNav {
    display: flex;
    justify-content: space-between;
    width: 200px;
    
}

.userMenu {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 20px;
}

.userText {
    font-size: large;
}


button.button {
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    margin-left: 30px;
}