.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(163, 196, 224, 0.2);;
}

button.button {
  width: 100px;
  height: 40px;
}

.contactData {
  font-size: 20px;
}