body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background-image: url('./img/bg.jpg');
}

ul {
  padding: 0px
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link {
  font-size: large;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #1577e7;
}

.activeLink {
  font-size: large;
  color: #1577e7;
}